@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: rgba(99, 102, 241, 0.3);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #07070b;
}
::-webkit-scrollbar-thumb {
  background: #1e1b4b;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #312e81;
}
